#a td {
	width: 100px;
	height: 100px;
	font-size: 50px;
	border: 1px solid #ccc;
	text-align:center;
    background-image: url("ohana.jpeg");
}
#message {
	font-size:200%;
	font-weight:bold;
	color: red;
}